# DB
PGUSER=YOUR_ACTUAL_PGUSER
PGPASSWORD=YOUR_ACTUAL_PGPASSWORD
PGHOST=localhost
PGPORT=5432
PGDATABASE=remote_rupiah

# Environment mode: "production" or "development"
DENO_ENV=development

# Generate with openssl rand -base64 32
JWT_SECRET=SOME_LONG_RANDOM_SECRET_AT_LEAST_32_CHARS

# Obtain KMK API token from https://fiskal.kemenkeu.go.id
KMK_ACCESS_TOKEN=YOUR_ACTUAL_KMK_TOKEN

# Generate with openssl rand -hex 24
ADMIN_API_KEY=YOUR_ACTUAL_ADMIN_KEY

# Fallback FX rate
USD_IDR_RATE=17500
